target/
dist/
node_modules/
.relay/
fallbacks/
.cargo/*
!.cargo/config.toml
*.exe
*.safetensors
*.bin
*.onnx
*.jpg
*.png
*.mp4
*.wav
*.zip
temp.txt
_temp.txt
.compiler-diagnostics.json
.aider*
!.aider.conf.yml
